Hello and welcome

In [1]:
df <- data.frame(name = c('Jon', 'Bill', 'Maria'),
                 age = c(23, 41, 32)
                 )
print (df)

   name age
1   Jon  23
2  Bill  41
3 Maria  32

In [2]:
df <- data.frame(name = c('Jon B', 'Bill B ', 'Maria B'),
                 age = c(23, 41, 32)
                 )
print (df)

     name age
1   Jon B  23
2 Bill B   41
3 Maria B  32

test